<div id="<%= dom_id event %>">
  <p>
    <strong>Artist:</strong>
    <%= event.artist %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Prices from:</strong>
    <%= event.price_low %>
  </p>

  <p>
    <strong>Prices up to:</strong>
    <%= event.price_high %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.event_date %>
  </p>

</div>
